/* Josh W Comeau css reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* main style */
:root {
    font-variant-numeric: tabular-nums lining-nums;
    --border-thickness: 2px;
    font-weight: 500;
    text-decoration-thickness: var(--border-thickness);
}

* {
    color: white;
    font-family: "Roboto Mono", monospacem, system-ui;
}
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

table {
    border-collapse: collapse;
    border: 3px solid white;
    min-width: 500px;
}

td,
th {
    border: 3px solid white;
    padding: 0.5rem 2rem;
}

dialog {
    background-color: black;
    position: fixed;
    width: 500px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

input {
    background-color: black;
    min-width: 100%;
    border: 3px solid white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="radio"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid white;
    background-color: transparent;
    cursor: pointer;
    min-width: auto;
}

fieldset[class="input-field"] {
    border: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
}

fieldset[class="radio-field"] {
    border: 3px solid white;
    display: flex;
    align-items: center;
}

fieldset[class="radio-field"] label {
    display: block;
    float: left;
    padding: 0 20px 0 10px;
}

fieldset[class="radio-field"] input {
    float: left;
}

button {
    background-color: black;
    color: white;
    border: 3px solid white;
    cursor: pointer;
}

#dialog-buttons {
    display: flex;
    justify-content: right;
    gap: 1rem;
}

#dialog-buttons button {
    width: 100px;
}

#new-entry {
    padding: 1rem 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

#page-title {
    padding-top: 1rem;
}
